.portrait {
	position: relative;
}

#corporationLogo {
	position: absolute;
	left: 5%;
	bottom: 5%;
	width: 20%;
}

#employmentLogo {
	/*position: absolute;*/
	/*left: 5%;*/
	/*bottom: 5%;*/
	width: 100%;
}

#allianceLogo {
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 20%;
}

#characterName {
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.scroll-col {
	max-height: 294px;
	overflow: auto;
}

.actions-list {
	border-bottom: 1px solid white;
	margin-left: 0;
	margin-right: 0;
}

.actions-list:last-child {
	border-bottom: 0;
}

.text-red {
	color: orange;
	font-weight: bold;
}

.text-green {
	color: yellowgreen;
	font-weight: bold;
}

.url-box {
	width: 10%;
	text-align: center;
}

.bottom-border {
	border-bottom: 1px solid white;
	width: 100%;
}

.box-title {
	/*background: rgba(20, 72, 126, 0.8);*/
	border-bottom: 2px solid white;
	width: 100%;
	padding-left: 10px;
}

.text-box {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	resize: vertical;
	color: black;
}

select{
	color:black;
}

.selection {
	color: black;
}

.selection:hover {
	background-color: lightblue;
}

.selection > p {
	padding: 3px 10px 3px 10px;
}