.portrait {
	position: relative;
}

#corporationLogo {
	position: absolute;
	left: 5%;
	bottom: 5%;
	width: 20%;
}

#employmentLogo {
	/*position: absolute;*/
	/*left: 5%;*/
	/*bottom: 5%;*/
	width: 100%;
}

#allianceLogo {
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 20%;
}

#characterName {
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.scroll-col {
	max-height: 294px;
	overflow: auto;
}

.employment {
	border-bottom: 1px solid white;
	margin-left: 0;
	margin-right: 0;
}

.employment:last-child {
	border-bottom: 0;
}

.text-red {
	color: orange;
	font-weight: bold;
}

.text-green {
	color: yellowgreen;
	font-weight: bold;
}

.url-box {
	width: 10%;
	text-align: center;
}

.bottom-border {
	border-bottom: 1px solid white;
	width: 100%;
}