<!doctype html>
<html lang="en" id="ng-app" ng-app="euniTools">
<head>
	<link rel="stylesheet" type="text/css" href="style/angular-ui-notification.min.css" />
	<link rel="stylesheet" type="text/css" href="dependencies/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="style/index.css" />
	<link rel="stylesheet" type="text/css" href="style/account-details.css" />
	<link rel="icon" type="image/png" href="img/ivy_logo_4.png">

    <meta charset="utf-8">
    <title>Eve University Tools</title>
    <script src="dependencies/angular/angular.js" defer></script>
	<script src="dependencies/angular-bootstrap/ui-bootstrap.js" defer></script>
	<script src="dependencies/angular-ui-notification-0.0.5/angular-ui-notification.min.js" defer></script>
	<!--<script src="dependencies/angular-timeago/src/timeAgo.js" defer></script>-->
	<script src="js/app.js" defer></script>
	<script src="js/filters/capitalize.js" defer></script>
	<script src="js/filters/timeAgo.js" defer></script>
    <script src="js/controllers/AccountDetails.js" defer></script>
	<script src="js/services/API.js" defer></script>
	<script src="js/services/Minions.js" defer></script>
	<script src="js/services/eveIGB.js" defer></script>
	<script src="js/services/eveIMG.js" defer></script>
	<script src="js/services/linky.js" defer></script>
</head>
<body ng-controller="AccountDetailsCtrl">
<div class="container">
	<!-- TITLE -->
	<div class="row" ng-cloak>
		<div class="col-xs-12">
			<h1 id="characterName" ng-click="eveigb.showCharacter(character.id)">Thomion</h1>
		</div>
	</div>
	<!-- Third party links -->
	<div class="row" ng-cloak>
		<div   class="col-md-12">
			<div class="actions float-container">
				<div ng-repeat="item in thirdPartySearches" class="url-box">
					<b><a href="{{item.url}}" target="_blank">{{item.title}}</a></b>
				</div>
			</div>
		</div>
	</div>
	<!-- 1st ROW -->
	<div class="row" ng-cloak>

		<div class="col-md-4">
			<div class="actions portrait">
				<img ng-src="{{eveimg.imgUrlCharacter(character.id,512)}}"
					 width="100%"
					 ng-click="eveigb.showCharacter(character.id)"
						title="{{character.name}}"/>
				<img id="allianceLogo" ng-src="{{eveimg.imgUrlAlliance(character.alliance.id,128)}}"
					 ng-click="eveigb.showAlliance(character.alliance.id)"
						title="{{character.alliance.name}}">
				<img id="corporationLogo" ng-src="{{eveimg.imgUrlCorporation(character.corporation.id,128)}}"
					 ng-click="eveigb.showCorporation(character.corporation.id)"
						title="{{character.corporation.name}}">
			</div>
		</div>

		<div class="col-md-4">
			<div class="actions">
				<table class="table">
					<tbody>
					<tr>
						<td class="text-right col-xs-4">Created on:</td>
						<td>{{characterDetails.dateOfBirth | date:'dd.MM.yy'}}
							({{characterDetails.dateOfBirth | timeAgo}})</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Skillpoints:</td>
						<td ng-class="conditionalClass(characterDetails.skillpoints < 10000000)">
							{{characterDetails.skillpoints | number:0}}
						</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Played:</td>
						<td>{{characterDetails.logonMinutes/60 | number:0}}h ({{characterDetails.logonCount}} logons)</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Balance:</td>
						<td>
							{{characterDetails.walletBalance | number : 0}} ISK
						</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Security Status:</td>
						<td ng-class="conditionalClass(character.securityStatus > 0)">
							{{character.securityStatus | number : 2 }}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div ng-hide="!eveigb.isIGB()" class="actions text-center">
				<div>
					<button class="btn btn-default btn-sm" ng-click="eveigb.startConversation(character.id)">
                        Convo
                    </button>
					<button class="btn btn-default btn-sm"
                            ng-click="eveigb.sendMail(character.id,'Hello','World')">
                        Eve-Mail
                    </button>
					<button class="btn btn-default btn-sm" ng-click="eveigb.addContact(character.id)">
                        Add Contact
                    </button>
					<button class="btn btn-default btn-sm" ng-click="">
                        Create Contract
					</button>

				</div>
			</div>
            <div class="actions">
                <div>
                    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">
                        Start Interview
                    </button>
                </div>
            </div>
		</div>
		<div class="col-md-4">
			<div class="actions">
				<div class="row actions-list" ng-repeat="employment in employmentHistory">
					<div class="col-md-3">
						<img id="employmentLogo" ng-src="{{eveimg.imgUrlCorporation(employment.corporation.id,128)}}"
							 ng-click="eveigb.showCorporation(employment.corporation.id)"
							 title="{{employment.corporation.name}}">
					</div>
					<div class="col-md-9">
						<div class="row"><b>{{employment.corporation.name}}</b></div>
						<div class="row">{{employment.startDate | date}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 3rd ROW, notes, logs, ... -->
	<div class="row" ng-cloak>
		<div class="col-md-4">
			<div class="actions">
				<div class="box-title"><b>Notes</b></div>
				<div class="bottom-border" ng-repeat="note in notes">
					<div>{{note.createdAt | date:'dd.MM.yy'}} - {{note.type}} by {{note.authorID}}</div>
					<div>{{note.note}}</div>
				</div>
				<textarea class="text-box" ng-model="note" placeholder="write new note here..." rows="5" width="100%">
				</textarea>
				<div class="text-center">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
							post note<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li ng-repeat="type in noteTypes" ng-click="postNote(type)" role="menuitem" class="selection"><p>{{type.name}}</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="actions">
				<div class="box-title"><b>Logs</b></div>
				<div class="bottom-border" ng-repeat="log in logs">
					<div>{{log.createdAt | date:'dd.MM.yy'}} - {{log.type}} - {{log.description}}</div>
					<div>{{log.log}}</div>
				</div>

				<textarea class="text-box" ng-model="log" placeholder="paste new log here..." rows="5" width="100%">
				</textarea>
				<div class="text-center">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
							post log<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li ng-repeat="type in logTypes" ng-click="postLog(type)" role="menuitem" class="selection"><p>{{type.name}}</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="actions">
				<div class="row actions-list">
					<div class="box-title"><b>NPC Agents</b></div>
					<div class="row" ng-repeat="standing in characterStandings.agents | orderBy:'-standing'">
						<div class="col-sm-2">
							<img class="standingsLogo"
								 ng-src="{{eveimg.imgUrlCharacter(standing.id,128)}}"
								 ng-click="eveigb.showCharacter(standing.id)"
								 title="{{standing.name}}">
						</div>
						<div class="col-sm-8">
							{{standing.name}}
						</div>
						<div class="col-sm-2" ng-class="conditionalClass(standing.standing > 0)">
							{{standing.standing}}
						</div>
					</div>
				</div>
				<div class="row actions-list">
					<div class="box-title"><b>NPC Corporations</b></div>
					<div class="row"
						 ng-repeat="standing in characterStandings.corporations | orderBy:'-standing'">
						<div class="col-sm-2">
							<img class="standingsLogo"
								 ng-src="{{eveimg.imgUrlCorporation(standing.id,128)}}"
								 ng-click="eveigb.showCorporation(standing.id)"
								 title="{{standing.name}}">
						</div>
						<div class="col-sm-8">
							{{standing.name}}
						</div>
						<div class="col-sm-2" ng-class="conditionalClass(standing.standing > 0)">
							{{standing.standing}}
						</div>
					</div>
				</div>
				<div class="row actions-list">
					<div class="box-title"><b>Factions</b></div>
					<div class="row"
						 ng-repeat="standing in characterStandings.factions | orderBy:'-standing'">
						<div class="col-sm-2">
							<img class="standingsLogo"
								 ng-src="{{eveimg.imgUrlAlliance(standing.id,128)}}"
								 ng-click="eveigb.showAlliance(standing.id)"
								 title="{{standing.name}}">
						</div>
						<div class="col-sm-8">
							{{standing.name}}
						</div>
						<div class="col-sm-2" ng-class="conditionalClass(standing.standing > 0)">
							{{standing.standing}}
						</div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="box-title"><b>Actions</b></div>
				<div ng-repeat="action in actions" class="bottom-border">
					<div>{{action.createdAt | date:'dd.MM.yy'}} - {{action.action}} - {{action.actor.name}}</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		Eve University Tools by Thomion
	</div>
</div>
</body>
</html>