<!doctype html>
<html lang="en" id="ng-app" ng-app="euniTools">
<head>
	<link rel="stylesheet" type="text/css" href="style/angular-ui-notification.min.css" />
	<link rel="stylesheet" type="text/css" href="dependencies/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="style/index.css" />
	<link rel="stylesheet" type="text/css" href="style/account-details.css" />
	<link rel="icon" type="image/png" href="img/ivy_logo_4.png">

    <meta charset="utf-8">
    <title>Eve University Tools</title>
    <script src="dependencies/angular/angular.js" defer></script>
	<script src="dependencies/angular-bootstrap/ui-bootstrap.js" defer></script>
	<script src="dependencies/angular-ui-notification-0.0.5/angular-ui-notification.min.js" defer></script>
	<!--<script src="dependencies/angular-timeago/src/timeAgo.js" defer></script>-->
	<script src="js/app.js" defer></script>
	<script src="js/filters/timeAgo.js" defer></script>
    <script src="js/controllers/AccountDetails.js" defer></script>
	<script src="js/services/API.js" defer></script>
	<script src="js/services/Minions.js" defer></script>
	<script src="js/services/eveIGB.js" defer></script>
	<script src="js/services/eveIMG.js" defer></script>
	<script src="js/services/linky.js" defer></script>
</head>
<body ng-controller="AccountDetailsCtrl">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 id="characterName" ng-click="eveigb.showCharacter(character.id)">Thomion</h1>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4">
			<div class="actions portrait">
				<img ng-src="{{eveimg.imgUrlCharacter(character.id,512)}}"
					 width="100%"
					 ng-click="eveigb.showCharacter(character.id)"
						title="{{character.name}}"/>
				<img id="allianceLogo" ng-src="{{eveimg.imgUrlAlliance(character.alliance.id,128)}}"
					 ng-click="eveigb.showAlliance(character.alliance.id)"
						title="{{character.alliance.name}}">
				<img id="corporationLogo" ng-src="{{eveimg.imgUrlCorporation(character.corporation.id,128)}}"
					 ng-click="eveigb.showCorporation(character.corporation.id)"
						title="{{character.corporation.name}}">
			</div>
		</div>

		<div class="col-md-4">
			<div class="actions">
				<table class="table">
					<tbody>
					<tr>
						<td class="text-right col-xs-4">Created on:</td>
						<td>{{characterDetails.dateOfBirth | date:'dd.MM.yy'}}
							({{characterDetails.dateOfBirth | timeAgo}})</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Skillpoints:</td>
						<td ng-class="{'text-red': characterDetails.skillpoints > 10000000}">
							{{characterDetails.skillpoints | number:0}}
						</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Played:</td>
						<td>553h</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Balance:</td>
						<td>
							{{characterDetails.walletBalance | number : 0}} ISK
						</td>
					</tr>
					<tr>
						<td class="text-right col-xs-4">Security Status:</td>
						<td ng-class="{'text-green': character.securityStatus > 0}"
							ng-class="{'text-red': character.securityStatus < 0}">
							{{character.securityStatus | number : 2 }}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="actions">
				<div class="row employment" ng-repeat="employment in employmentHistory">
					<div class="col-md-3">
						<img id="employmentLogo" ng-src="{{eveimg.imgUrlCorporation(employment.corporation.id,128)}}"
							 ng-click="eveigb.showCorporation(employment.corporation.id)"
							 title="{{employment.corporation.name}}">
					</div>
					<div class="col-md-9">
						<div class="row"><b>{{employment.corporation.name}}</b></div>
						<div class="row">{{employment.startDate | date}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div   class="col-md-12">
			<div class="actions float-container">
				<div ng-repeat="item in thirdPartySearches" class="url-box">
					<b><a href="{{item.url}}" target="_blank">{{item.title}}</a></b>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="actions">
				<span><b>Notes</b></span>
				<div ng-repeat="note in notes">
					<div>{{note.createdAt | date:'dd.MM.yy'}} - {{note.type}} by {{note.authorID}}</div>
					<div>{{note.note}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="actions">
				<span><b>Logs</b></span>
				<div ng-repeat="log in logs">
					<div>{{log.createdAt | date:'dd.MM.yy'}} - {{log.type}} {{log.description}}</div>
					<div>{{log.log}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="actions">Actions</div>
		</div>
	</div>
	<div id="footer">
		Eve University Tools
	</div>
</div>
</body>
</html>